@{
    ViewData["Title"] = "Privacy Policy";

    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome, @User.Identity.Name</p>
    }
    else
    {
        <p>Please log in.</p>
    }

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
