@model BoxBuildproj.Models.Categorytbl
@{
    ViewData["Title"] = "Edit Category";
}

<h2>Edit Category</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="CategoryID" />
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>