@{
    ViewBag.Title = "Products";
}
<h2>Our Packaging Products</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/Content/box1.jpg" class="card-img-top" alt="Box Image">
            <div class="card-body">
                <h5 class="card-title">Corrugated Box</h5>
                <p class="card-text">$10.00</p>
                <a href="/Cart/Add/1" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
